# Assignment 8
Calculate the 90%, 95%, 99% and 99.99% confidence interval for at least 2 columns with numerical data in the dataset that you chose in portfolio assignment 4. Do you see the impact the confidence has on the interval?
Now calculate the 95% confidence interval again but use only the first 10% of your rows. Compare this interval to the previous 95% confidence interval you calculated. Do you see the impact of having less data?

In [1]:
import scipy.stats as st
import pandas as pd
pokémon = pd.read_csv('pokemon.csv', sep=',')
pokémon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Attack

Voor alle attacks van de pokémons heb ik gekeken naar de 90, 95, 99 en 99.99 confidence intervals.

In [2]:
pokémon["Attack"]

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

### 90%

In [3]:
st.t.interval(0.9, len(pokémon)-1, loc=pokémon['Attack'].mean(), scale=st.sem(pokémon['Attack']))

(77.11152171030228, 80.89097828969771)

### 95%

In [4]:
st.t.interval(0.95, len(pokémon)-1, loc=pokémon['Attack'].mean(), scale=st.sem(pokémon['Attack']))

(76.74869843886454, 81.25380156113546)

### 99%

In [5]:
st.t.interval(0.99, len(pokémon)-1, loc=pokémon['Attack'].mean(), scale=st.sem(pokémon['Attack']))

(76.03830265303164, 81.96419734696836)

### 99,99%

In [6]:
st.t.interval(0.9999, len(pokémon)-1, loc=pokémon['Attack'].mean(), scale=st.sem(pokémon['Attack']))

(74.51399197553003, 83.48850802446997)

### 95% van alle en de bovenste 10 records

Je kunt zien dat wanneer je alleen de bovenste tien rijen uit de tabel gebruikt dat er een groot verschil ontstaat. Je kunt namelijk zien dat waar 95% van de waardes tussen zitten veel breder is geworden.

In [7]:
FirstTenPokémons = pokémon.head(10)
FirstTenPokémons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [8]:
st.t.interval(0.95, len(pokémon)-1, loc=pokémon['Attack'].mean(), scale=st.sem(pokémon['Attack']))

(76.74869843886454, 81.25380156113546)

In [9]:
st.t.interval(0.95, len(FirstTenPokémons)-1, loc=FirstTenPokémons['Attack'].mean(), scale=st.sem(FirstTenPokémons['Attack']))

(57.862037760221185, 97.13796223977882)

# Defense

Voor alle defennse van alle pokémons heb ik gekeken naar de 90, 95, 99 en 99.99 confidence intervals.

In [10]:
pokémon["Defense"]

0       49
1       63
2       83
3      123
4       43
      ...
795    150
796    110
797     60
798     60
799    120
Name: Defense, Length: 800, dtype: int64

### 90%

In [11]:
st.t.interval(0.9, len(pokémon)-1, loc=pokémon['Defense'].mean(), scale=st.sem(pokémon['Defense']))

(72.02693852111383, 75.65806147888617)

### 95%

In [12]:
st.t.interval(0.95, len(pokémon)-1, loc=pokémon['Defense'].mean(), scale=st.sem(pokémon['Defense']))

(71.67835509837681, 76.00664490162319)

### 99%

In [13]:
st.t.interval(0.99, len(pokémon)-1, loc=pokémon['Defense'].mean(), scale=st.sem(pokémon['Defense']))

(70.99584045828132, 76.68915954171868)

### 99,99%

In [14]:
st.t.interval(0.9999, len(pokémon)-1, loc=pokémon['Attack'].mean(), scale=st.sem(pokémon['Attack']))

(74.51399197553003, 83.48850802446997)

### 95% van alle en de bovenste 10 records

In [15]:
FirstTenPokémons = pokémon.head(10)
FirstTenPokémons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [16]:
st.t.interval(0.95, len(pokémon)-1, loc=pokémon['Defense'].mean(), scale=st.sem(pokémon['Defense']))

(71.67835509837681, 76.00664490162319)

In [17]:
st.t.interval(0.95, len(FirstTenPokémons)-1, loc=FirstTenPokémons['Defense'].mean(), scale=st.sem(FirstTenPokémons['Defense']))

(56.76101806391659, 93.4389819360834)